svg path,
svg ellipse,
svg rect,
svg polygon,
svg circle {
    opacity: 0;
}

.section1 {
    /*background: none;*/
    position: relative;
}

.section1 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -120px;
    position: absolute;
    top: 240px;
    width: 240px;
}

.section1 svg .st0 {
    fill: #C2C3C3;
}

.section1 svg .st1 {
    fill: #FCDA06;
}

.section2 {
    position: relative;
}

.section2 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -165px;
    position: absolute;
    top: 450px;
    width: 390px;
}

.section2 svg .st0 {
    fill: #FCDA06;
}

.section2 svg .st1 {
    fill: #C2C3C3;
}

.section2 svg .st2 {
    fill: #8F9192;
}

.section3 {
    position: relative;
}

.section3 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -165px;
    position: absolute;
    top: 260px;
    width: 330px;
}

.section3 .st0{fill:#C2C3C3;}
.section3 .st1{fill:#FBDD30;}
.section3 .st2{opacity:0.7;}
.section3 .st3{fill:#FDDC31;}
.section3 .st4{fill:none;stroke:#FBDD30;stroke-width:0.1744;stroke-miterlimit:10;}
.section3 .st5{fill:none;stroke:#FDDC31;stroke-width:0.2095;stroke-miterlimit:10;}

.section4 {
    position: relative;
}

.section4 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -100px;
    position: absolute;
    top: 370px;
    width: 200px;
}

.section4 .st0{fill:#FFFFFF;}
.section4 .st1{fill:#FCDA06;}

.section5 {
    position: relative;
}

.section5 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -427px;
    position: absolute;
    top: 170px;
    width: 854px;
}

.section5 .st0{fill:#C2C3C3;}
.section5 .st1{fill:#FBDD30;}

.section6 {
    position: relative;
}

.section6 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -174px;
    position: absolute;
    top: 250px;
    width: 348px;
}

.section6 .st0{fill:#FFFFFF;}
.section6 .st1{fill:#FBDD30;}
.section6 .st2{fill:#FFFFFF;stroke:#000000;stroke-width:0.6598;stroke-miterlimit:10;}
.section6 .st3{fill:#FFFFFF;stroke:#000000;stroke-width:0.165;stroke-miterlimit:10;}
.section6 .st4{fill:#FFFFFF;stroke:#000000;stroke-width:0.7373;stroke-miterlimit:10;}

.section7 {
    position: relative;
}

.section7 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -166px;
    position: absolute;
    top: 330px;
    width: 292px;
}

.section7 .st0{fill:#C2C3C3;}
.section7 .st1{fill:#FBDD30;}

.section8 {
    position: relative;
}

.section8 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -155px;
    position: absolute;
    top: 565px;
    width: 280px;
}

.section8 .st0{fill:#C2C3C3;}
.section8 .st1{fill:#FBDD30;}

.section9 {
    position: relative;
}

.section9 svg {
    height: auto;
    left: 50%;
    margin: 0 0 0 -343px;
    position: absolute;
    top: 315px;
    width: 696px;
}

.section9 .st0{fill:#FEDD0D;}
.section9 .st1{fill:#FFFFFF;}